body{
    /*background: blue green;*/
    background-image: linear-gradient(black, purple); 

    color:  pink;
    font-family: roboto;
    font-size: x-large;
    text-align: center;
}
img{
        width: 320px;
}

img:hover{
        transform:scaleX(-1);
}